html {
	font-family: sans-serif;
	font-size: 62.5%;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
}

body {
	font-size: 14px;
	margin: 0;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	line-height:1.42857143;
	color: #333;
	background-color: #add8e6;
	text-align: center;
}


h1, h2, h3 {
	font-family: 'Open Sans', sans-serif;
}

#logo {
	border: 2px dotted #C32B2B;
	margin: 0 auto;
}





